/CharOccurence.class
/DateTime.class
/Fndemo.class
/Fndemo2.class
/LargestZero.class
/NumOccurenceAndPos.class
/PascalsTriangle.class
/RevStringNoFn.class
/Reversenum.class
/Soutstudy.class
/Stringbuffertest.class
/Stringfns.class
/Sumofdigi.class
/Swapno3rdvar.class
/Swapvariables.class
/Test.class
/TrianglePattern.class
/Userinput.class
/Variables.class
/WordOrderRev.class
